[Unit]
Description=Startup Script
Requires=KlipperScreen.service
After=KlipperScreen.service

[Service]
ExecStart=sudo systemctl restart network-manager.service | sudo systemctl stop network-manager.service

[Install]
WantedBy=multi-user.target